/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu Tas Beginnner', sans-serif;
}

/* Utilities classes */
.flex {
    display: flex;
}

/* Header */
.title {
    background-image: url("../img/wall.png");
    text-align: center;
    padding: 20px 0px;
}

.titleText {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

/* Main */
main {
    background-image: url("../img/cork.png");
}

.photoCollection {
    padding-top: 25px;
    justify-content: center;
}

.cardPhoto {
    background-color: white;
    padding: 15px;
    gap: 10px;
}

.photo {
    background-color: lightgreen;
    width: 260px;
    padding: 125px 0px;
    color: gray;
    text-align: center;
}

.caption {
    padding: 10px 0px;
    font-size: 15px;
    font-family: cursive;
}